<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="no-found content">
        OPPS, page not found :-)
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>