<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Me</h2>
        <p>My name is rotem and i am a full stack developer.</p>
        <p>In this blog i will share my store, my tips and everything related to coding.</p>
        <p>Feel free to contact me if you need any help or even just to say hello.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>